[Unit]
Description=template-workers
After=syslog.target
After=network.target
Requires=postgresql.service
Requires=redis.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/bots/template-bot
Environment=PYTHONPATH=/root/bots/template-bot
ExecStart=/root/.local/bin/poetry run taskiq worker src.scheduler.broker:broker
Restart=on-failure
RestartSec=10


[Install]
WantedBy=multi-user.target
