[Unit]
Description=kxm-helper-scheduler
After=syslog.target
After=network.target
Requires=postgresql.service
Requires=redis.service

[Service]
Type=simple
User=root
WorkingDirectory=/root/bots/kxm-helper
Environment=PYTHONPATH=/root/bots/kxm-helper
ExecStart=/root/.local/bin/poetry run taskiq scheduler src.bot.broker:scheduler
Restart=on-failure
RestartSec=10


[Install]
WantedBy=multi-user.target